# Forge output files
out/
broadcast/
cache/
target/
bin/
Cargo.lock

# IDE configurations
.vscode*

# debug artifacts
*.debug.txt

# miscellaneous
.idea/

# Forge documentation
docs/
coverage/

# Soldeer
/dependencies

# development
.env
lcov.info

_PRIVATE
